
.App {
    max-width: 600px;
    margin: 20px auto;
  }
  
  Form {
    border: 6px solid lightgray;
    border-radius: 10px;
    padding: 20px;
  }

  .btn.btn-outline-search {
    color: black;
    border-color: black;
    padding: 10px 10px;
  }
  
  .btn.btn-outline-search:hover {
    color: white;
    background-color: green;
    border-color: green;
  }

  .text{
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-image: url("") ;
    background-color: ;
  }

  /*Country search-box*/
  input[type="text"] {
    margin-right: 30px;
  }
  
/*LearnMore box */

.container {
  display: flex;
  flex-direction:row;
  font-size:30px;
  text-align: center;
}

  .box{
    background-color: white;
    padding: 20px;
    display: flex;
    width: 50%;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border: 2px solid #e8e8e8;
    padding: 20px;
    margin: 20px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
  }
  
  /* Making the boxes responsive*/
  @media screen and (max-width: 800px) {
    /* Set the width to 100% for single column on smaller screens */
    .container{
      flex-direction:column;
    }
    
  }