
.App {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .Form {
    border: 6px solid lightgray;
    border-radius: 10px;
    padding: 20px;
  }

  .container{
    display:flex;
    flex-direction: column;
  }

  .text{
    font-style: italic;
    font-display: center;
    font-size: medium;
    font-weight:bold;
    color:azure;
  }

  about-section {
    background: rgba(32, 33, 36, 0.1);
    position: center;
}

.blockabout {
    padding: 50px;
    position: center;
    background: white;
}

.blockabout-inner {
    padding: 40px;
    border: 1px solid rgba(32, 33, 36, 0.1);
}

.sosmed-horizontal a i {
    border: 3px solid #070707;
    border-radius: 50%;
    color: #070707;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: auto 3px;
    font-size: 15px;
    text-align: center;
    transition: all 0.3s;
}

  .btn.btn-outline-search {
    color: black;
    border-color: black;
    padding: 10px 10px;
  }
  
  .btn.btn-outline-search:hover {
    color: white;
    background-color: green;
    border-color: green;
  }

  /*Country search-box*/
  input[type="text"] {
    margin-right: 30px;
  }
  
  /*Country Facts Search button*/
  .search-input{
    width: max-content;
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    position: center;
    right: 50%;
    left: 50%;
  }
  
  .country-box {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-image: url(./components/Images/Maldives.jpg); /* Replace with your transparent background image */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .form-control {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
  }

  main {
    padding-left: 240px;
  }
  
  .card.map-card .living-coral {
    background-color: #fa7268;
  }
  
  .card.map-card .living-coral-text {
    color: #fa7268;
  }
  
  .card.map-card .table th {
    width: 2rem;
  }
  
  .card.map-card .pt-3-5 {
    padding-top: 1.25rem;
  }
  
  .card.map-card .card-body {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 20%;
    overflow: hidden;
    background-color: transparent;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  
  .card.map-card .card-body.closed {
    top: 100%;
    height: 7.5rem;
    margin-top: -7.5rem;
  }
  
  .card.map-card .map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .card.map-card .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  .card.map-card .button .btn-floating {
    margin-top: -1.5rem;
  }
  
  blockquote {
    margin-bottom: 0px !important;
  }
  
/*LearnMore box */
.learn-more-container {
  display: flex;
  flex-direction:row;
  font-size:30px;
  text-align: center;
  margin-top: 20px;
}

  .box{
    background-color: white;
    padding: 50px;
    display: flex;
    width: 50%;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color: white;
    border: 4px solid lightgray;
    padding: 40px;
    margin: 30px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
  }
  
  /* Making the boxes responsive*/
  @media screen and (max-width: 800px) {
    /* Set the width to 100% for single column on smaller screens */
    .container{
      flex-direction:column;
    } 
    
  }