
.App {
    max-width: 600px;
    margin: 20px auto;
  }
  
  Form {
    border: 6px solid lightgray;
    border-radius: 10px;
    padding: 20px;
  }

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap; 
}

.btn{
  text-decoration: none;
  cursor: pointer;
  color: floralwhite;
  font-size: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  transition: 0.3s all ease;
}
 
.btn::before{
  position:absolute;
  content: "";
  left: 0;
  z-index: -1;
  background-color: white;
  width: 38px;
  height: 38px;
  border-radius: 80px;
  transition: 0.3s all cubic-bezier;
}

.btn:hover::before{
  width:100%;
}

.btn svg{
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.btn svg path{
  fill: #292929;
}